@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Fauna One', sans-serif;
    font-weight: 400;
    color: #c6c6c6;
    background-color: #1f1d1d;
}

/* headings and logo */

h1 {
    font-family: 'Cinzel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}


#logo {
    float: left;
    text-decoration: none;
    margin-left: 35px;
    color: #A37532;
    font-size: 300%;

}

/* navigation links */

#menu {
    font-size: 110%;
    font-weight: bolder;
    float: right;
    letter-spacing: 3px;

}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    margin-right: 35px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #A37532;
}

#menu a:hover {
    border-bottom: 1px solid #c6c6c6;
    font-weight: bold;
    border-color: #A37532;
    color: #c6c6c6;
}

#menu .active {
    text-decoration-line: underline;
    text-decoration-color: #c6c6c6;
}

#menu .active:hover {
    text-decoration: none;
}

/* hero image */

#hero-image {
    height: 750px;
    width: 100%;
    background: url('../images/hero-image-compressed.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/* home page information */

#home-info div {
    height: 300px;
    float: left;
    padding: 30px 0 0 15px;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
    margin-top: 50px;
}

#home-info li {
    list-style-type: none;
}

#home-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(163, 117, 50, .5);
    border: 2px solid #c6c6c6;
    width: 50%;
    line-height: 25px;

}

.home-content-outer-spacer {
    display: flex;
    width: 25%;
    background-color: #1f1d1d;
}

#times-pricing div {
    height: 300px;
    float: left;
    padding: 30px 0 0 15px;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#times-pricing-content {
    background-color: rgba(163, 117, 50, .5);
    border: 2px solid #c6c6c6;
    width: 22.5%;
    line-height: 25px;
}

.pricing-heading {
    font-size: 1.17em;
    font-weight: bold;
}

.times-pricing-outer-spacer {
    width: 25%;
    background-color: #1f1d1d;
}

#times-pricing-inner-spacer {
    width: 5%;
    background-color: #1f1d1d;
}

#times-pricing-content li {
    list-style-type: none;
}

#home-info h2, #times-pricing h2 {
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 50px;
    font-family: 'Cinzel', sans-serif;
}

/* benefits */

#benefits h2 {
    font-family: 'Cinzel', sans-serif;
    margin: 25px 0 25px 0;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.5em;
}

.benefits-boxes {
    height: 450px;
    float: left;
    padding: 0px 5px 0 5px;
    box-sizing: border-box;
    border-radius: 25px;
    margin-bottom: 50px;
}

#powerlifting-bodybuilding-picture {
    width: 50%;
    background: url('../images/Powerlifting\ -\ SF\ edit\ compress2.0.jpg') no-repeat center;
    background-size: cover;
    border-radius: 25px;
}

#powerlifting-bodybuilding-info {
    background-color: rgba(163, 117, 50, .5);
    border: 2px solid #c6c6c6;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#crossfit-picture {
    width: 50%;
    background: url('../images/Crossfit\ -\ SF\ edit\ compress2.0.jpg') no-repeat;
    background-size: cover;
    border-radius: 25px;
    float: right;
}

#crossfit-info {
    background-color: rgba(163, 117, 50, .5);
    border: 2px solid #c6c6c6;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
}

#cardio-picture {
    width: 50%;
    background: url('../images/Cardio\ -SF\ edit\ compress2.0.jpg') no-repeat;
    background-position: 50% 25%;
    background-size: cover;
    border-radius: 25px;
}

#cardio-info {
    background-color: rgba(163, 117, 50, .5);
    border: 2px solid #c6c6c6;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* footer */

footer>div {
    line-height: 75px;
    width: 100%;
    height: 75px;
    background-color: rgba(163, 117, 50, .5);
    overflow: hidden;

}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    font-size: 125%;
    padding: 2%;
}

.social-networks i {
    color: #c6c6c6;
}

/* contact-us form */

fieldset {
    border: 2px solid #c6c6c6;
    background-color: rgba(163, 117, 50, .5);
    border-radius: 10px;
}

legend {
    text-align: center;
}

label {
    margin-left: 10px;
    width: 100%;
}

.form-layout {
    color: #c6c6c6;
    height: 1000px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

#left-spartan-helmet {
    width: 33.33%;
    background: url('../images/Spartan\ Helmet\ -\ SF\ edit\ compress.jpg') no-repeat center;
    border-radius: 25px;
}

#right-spartan-helmet {
    width: 33.33%;
    background: url('../images/Spartan\ Helmet\ -\ SF\ edit\ compress\ flipped.jpg') no-repeat center;
    border-radius: 25px;
}

#form {
    padding: 10px;
    width: 33.33%;
}

.text-input {
    width: 95%;
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Fauna One', sans-serif;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
}

.text-input:hover {
    border: 2px solid #f16c6b;
    background-color: whitesmoke;
}

#submit {
    display: block;
    margin: 0 auto 10px auto;
    padding: 8px;
    border-radius: 10%;
    font-family: 'Fauna One', sans-serif;
    background-color: whitesmoke;
}

#submit:hover {
    color: whitesmoke;
    background-color: #f16c6b;
}


/* media queries */

/* for larger  from 1900px wide and down */
@media screen and (max-width: 1900px) {

    #left-spartan-helmet {
        visibility: hidden;
        width: 20%;
    }

    #right-spartan-helmet {
        visibility: hidden;
        width: 20%;
    }

    #form {
        width: 60%;
    }

    .benefits-boxes {
        height: 375px;
    }

}

/* for larger to medium screen sizes from 1250px wide and down */
@media screen and (max-width: 1250px) {

    #home-content {
        width: 80%;
    }

    .home-content-outer-spacer {
        width: 10%;
    }

    .times-pricing-outer-spacer {
        width: 10%;
    }

    #times-pricing-content {
        width: 37.5%;
    }

    #times-pricing-inner-spacer {
        width: 5%;
    }

    #left-spartan-helmet {
        visibility: hidden;
        width: 10%;
    }

    #right-spartan-helmet {
        visibility: hidden;
        width: 10%;
    }

    #form {
        width: 80%;
    }


}

/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #home-content {
        font-size: 1.5vw;
    }

    #times-pricing-content {
        font-size: 1.5vw;
    }

    #benefits {
        font-size: 1.5vw;
    }

}

/* for small screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {

    #logo {
        width: 100%;
        line-height: 75px;
        text-align: center;
        margin: 0;
    }

    #menu {
        width: 100%;
        line-height: 50px;
        text-align: center;
        border-top: 1px solid #A37532;
        margin: 0;

    }

    #menu li {
        float: none;
        display: inline-block;
        position: relative;
        margin: 0 15px 0 15px;
    }

}

/* for small screen sizes from 500px wide and down */
@media screen and (max-width: 500px) {

    #logo {
        font-size: 200%;
    }

    #hero-image {
        height: 600px;
    }

    #home-content {
        font-size: 2vw;
        width: 90%;
    }

    #times-pricing-content {
        font-size: 2vw;
        width: 42.5%;
    }

    #benefits {
        font-size: 2vw;
    }

    .home-content-outer-spacer {
        width: 5%;
    }

    .times-pricing-outer-spacer {
        width: 5%;
    }

    .benefits-boxes {
        padding: 0 10px 0 10px;
        margin-bottom: 25px;
        margin-right: 5px;
        height: 225px;
    }

    #powerlifting-bodybuilding-picture {
        width: 100%;
    }

    #powerlifting-bodybuilding-info {
        width: 100%;
    }

    #crossfit-picture {
        width: 100%;
    }

    #crossfit-info {
        width: 100%;
    }

    #cardio-picture {
        width: 100%;
    }

    #cardio-info {
        width: 100%;
    }


}